[
  {
    "id": 54,
    "slug": "Study--Teaching",
    "name": "Arts - Study & Teaching",
    "scrape_enabled": true,
    "max_pages_to_scrape": 10,
    "start_page_next_run": 2
  },
  {
    "id": 56,
    "slug": "Painting",
    "name": "Arts - Painting",
    "scrape_enabled": true,
    "max_pages_to_scrape": 5,
    "start_page_next_run": 1
  }
] 